<section class="stories">
    <div class="video-container">
        <video class="bg-video" autoplay muted loop>
            <source src="assets/images/video.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="stories-wrapper">
        <div class="story-bg">
            <div class="story">
                <img src="assets/images/story-img-1.jpg" alt="Customer image" class="story-image" />
                <div class="story-text">
                    <h1 class="story-heading">
                        These were the best days of this year
                    </h1>
                    <p class="story-paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Architecto quas, repudiandae veritatis nam mollitia cumque
                        distinctio, quia aperiam aliquid at consequuntur libero
                        quisquam facilis laborum inventore repellat perspiciatis vel
                        fugiat molestias recusandae eum necessitatibus quo possimus
                        aspernatur? Nobis, architecto eaque.
                    </p>
                </div>
            </div>
        </div>
        <div class="story-bg">
            <div class="story">
                <img src="assets/images/story-img-2.jpg" alt="Customer image" class="story-image" />
                <div class="story-text">
                    <h1 class="story-heading">
                        I enjoyed this great tour
                    </h1>
                    <p class="story-paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Architecto quas, repudiandae veritatis nam mollitia cumque
                        distinctio, quia aperiam aliquid at consequuntur libero
                        quisquam facilis laborum inventore repellat perspiciatis vel
                        fugiat molestias recusandae eum necessitatibus quo possimus
                        aspernatur? Nobis, architecto eaque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>