<section class="popular-tours">
    <h1 class="popular-tours-heading">The Most Popular Tours</h1>
    <div class="cards-wrapper">
        <div class="card">
            <div class="front-side">
                <img src="assets/images/forest.jpg" alt="Forest" class="card-image" />
                <h1 class="tour-name">The wild forest</h1>
                <ul class="card-list">
                    <li class="card-list-item">7 days tour</li>
                    <li class="card-list-item">Up to 20 people</li>
                    <li class="card-list-item">4 tour guides</li>
                    <li class="card-list-item">Sleep in private tents</li>
                    <li class="card-list-item">Difficulty: medium</li>
                </ul>
                <button class="navigation-button">
                    price &gt;&gt;
                </button>
            </div>
            <div class="back-side center">
                <button class="navigation-button">
                    &lt;&lt; back
                </button>
                <h3 class="tour-price">$399</h3>
                <button class="card-button">Booking</button>
            </div>
        </div>
        <div class="card">
            <div class="front-side">
                <img src="assets/images/river.jpg" alt="River" class="card-image" />
                <h1 class="tour-name">Along the river</h1>
                <ul class="card-list">
                    <li class="card-list-item">9 days tour</li>
                    <li class="card-list-item">Up to 30 people</li>
                    <li class="card-list-item">7 tour guides</li>
                    <li class="card-list-item">Sleep in private tents</li>
                    <li class="card-list-item">Difficulty: hard</li>
                </ul>
                <button class="navigation-button">
                    price &gt;&gt;
                </button>
            </div>
            <div class="back-side center">
                <button class="navigation-button">
                    &lt;&lt; back
                </button>
                <h3 class="tour-price">$499</h3>
                <button class="card-button">Booking</button>
            </div>
        </div>
        <div class="card">
            <div class="front-side">
                <img src="assets/images/sea.jpg" alt="Sea" class="card-image" />
                <h1 class="tour-name">The island beach</h1>
                <ul class="card-list">
                    <li class="card-list-item">5 days tour</li>
                    <li class="card-list-item">Up to 40 people</li>
                    <li class="card-list-item">8 tour guides</li>
                    <li class="card-list-item">Sleep in hotel</li>
                    <li class="card-list-item">Difficulty: easy</li>
                </ul>
                <button class="navigation-button">
                    price &gt;&gt;
                </button>
            </div>
            <div class="back-side center">
                <button class="navigation-button">
                    &lt;&lt; back
                </button>
                <h3 class="tour-price">$599</h3>
                <button class="card-button">Booking</button>
            </div>
        </div>
    </div>
</section>